<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
	
    <main class="app-content">   
     <div class="row">  
     <div class="col-lg-12">
       <div class="tile">
                     <div class="dashboardicon2">
                <a th:href="@{/stock-in}"><input type="button" name="sIn" class="submit action-button" value="Stock In"></a>
                <a th:href="@{/stock-out}"><input type="button" name="sOut" class="submit action-button" value="Stock Out"></a>
				<a th:href="@{//addStockInPage}"><input type="button" name="addSIn" class="submit action-button" value="Add Stock In"></a>
				<a th:href="@{/addStockOutPage}"><input type="button" name="addSOut" class="submit action-button" value="Add Stock Out"></a>
                <a th:href="@{/order}"><input type="button" name="order" class="submit action-button" value="Orders"></a>
                <a th:href="@{/stock}"><input type="button" name="stock" class="submit action-button" value="Total Stock"></a>
            
        </div>
        </div>
        </div>
                   </div>
                   <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">View Stock Report</h3>
					<form class="dashboardicon" th:action="@{/searchStockDashboard}" method="get" >
						<div class="col-lg-12 flexdisplay">
							<div class="col-lg-6 col-xs-12">
								<label>From Date</label>
								<input type="date" name="fromDate" >
							</div>
							<div class="col-lg-6 col-xs-12">
								<label>To Date</label>
								<input type="date" name="toDate" style="animation-delay: .2s">
							</div>
						</div>
						<div class="form-group col-lg-12">
							<div class="col-lg-12">
								<select class="form-control" name="item" id="select" style="height: 48px;">
									<option selected="selected" disabled="disabled">Select Item</option>
									<option style="color: #333;" th:each=" itemName : ${itemNames}" th:text="${itemName}" ></option>
								</select>
							</div>
						</div>
						<input type="button" name="cancel"
							class="previous action-button-previous" value="Cancel">
							<input type="submit" name="submit" class="submit action-button" value="Search">
					</form>
					<div class="table-responsive table_size" style="margin-top: 50px;">          
  <table class="table table-bordered table-responsive table-hover" style=" width: 100%;">
    <thead class="thead-inverse" style="background-color:#446c9d; color:#FFF;">
      <tr>
        <th class="table_heading" style="width: 25%;">Item</th>
        <th class="table_heading" style="width: 25%;">Stock In</th>
        <th class="table_heading" style="width: 25%;">Stock Out</th>
        <th class="table_heading" style="width: 25%;">Total Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color:#FFF" th:each="item : ${itemList}">
        <td th:text="${item.name}" />
        <td th:text="${item.getStockInQuantity()}" />
        <td th:text="${item.getStockOutQuantity()}" />
        <td th:text="${item.quantity}" />
 </tr>
    </tbody>
  </table>
 </div>    
          </div>
        </div>
      </div>
    </main>
	
	
    <div th:replace="fragments :: html_scripts"></div>
  </body>
</html>