<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
	
    <main class="app-content">   
                   <div class="row">
        <div class="col-md-12">
          <div class="dashboardicon2" style="text-align: left;">
            <input type="button" name="nItem" class="submit action-button" onclick="location.href='/createItemPage'" value="Create New Item">      
        </div>
          <div class="tile">
            <h3 class="tile-title">Items</h3>
            <form class="dashboardicon">

            <div class="form-group col-lg-12">
              <div class="col-lg-12">
                <input type="text" name="searchItem" placeholder="Search Items">
              </div>
            </div>
        </form>
<div class="table-responsive table_size" style="margin-top: 50px;">
	<form action="/performItemAction" method="get">
		<table class="table table-bordered table-responsive table-hover" style=" width: 100%;">
			<thead class="thead-inverse" style="background-color:#446c9d; color:#FFF;">
			<tr>
				<th class="table_heading" style="width: 25%;">Item</th>    
				<th class="table_heading" style="width: 25%;">Unit</th>       
				<th class="table_heading" style="width: 25%;">Action</th>
			</tr>
			</thead>
			<tbody>
			<tr style="background-color:#FFF"th:each="item: ${itemList}">
				<td th:text="${item.iName}" />
				<td th:text="${item.iUnit}" />
				<td>
				<div class="dashboardicon2" style="text-align: left;">
					<input type="submit" name="records" class="submit action-button" value="Records">
					<input type="submit" name="edit" class="submit action-button" value="Edit">
					<input type="submit" name="print" class="submit action-button2" value="Print">        
				</div>
			</td>
			</tr>
			</tbody>
		</table>
	</form>
 </div>    
          </div>
        </div>
      </div>
    </main>
	
	
    <div th:replace="fragments :: html_scripts"></div>
  </body>
</html>