<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head" />
<body class="app sidebar-mini rtl">
	<div th:replace="fragments :: app-layout"></div>


	<main class="app-content">
         <div class="row">
            <div class="col-md-12">
               <legend style="text-align:center; padding-bottom: 20px;" th:text="${header}" ></legend>
               <form class="dashboardicon" style="margin-top: 0;" th:action="@{/performOrderAction}" method="post" enctype="multipart/form-data">
                  <fieldset style="margin-top: 0;" id="printTable" >
                     <div class="col-lg-12 flexdisplay">
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                           <div class="image-upload">
								<label for="file-input">
									<img th:src="*{'data:image/jpeg;base64,'+{order.sPhotoBlob}}" class="stock-in-img" >
								</label>
								<input type="file" id="file-input" name="sPhoto" th:readonly="${param.action[0]=='View'}">
							</div>
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Supplier</label>
                           <input type="text" name="supplier" placeholder="Supplier" th:value="${order.supplier}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Size</label>
                           <input type="text" name="size" placeholder="Size" th:value="${order.size}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Quantity</label>
                           <input type="text" name="quantity" placeholder="Quantity" th:value="${order.quantity}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                     </div>
                     <div class="col-lg-12 flexdisplay">
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                           <div class="image-upload">
								<label for="colour">
									<img th:src="*{'data:image/jpeg;base64,'+{order.colourBlob}}" class="after-col stock-in-img" />
								</label>
								<img src="" class="before-col" style="display: none;" />
								<canvas style="display: none;"></canvas>
								<input type="file" name="colour" id="colour" th:readonly="${param.action[0]=='View'}">
							</div>
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Unit</label>
                           <input type="text" name="unit" placeholder="Unit" th:value="${order.unit}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Reference</label>
                           <input type="text" name="reference" placeholder="Reference" th:value="${order.reference}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Price</label>
                           <input type="number" name="price" placeholder="Price" min="0" step=".01" th:value="${order.price}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                     </div>
                     <div class="col-lg-12 flexdisplay">
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                           <label style="text-align: left; display: block;">Amount</label>
                           <input type="number" name="amount" placeholder="Amount" min="0" step=".01" th:value="${order.amount}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                        <div class="col-lg-3 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Date</label>
                           <input type="Date" name="date" placeholder="Date" th:value="${order.date}" th:readonly="${param.action[0]=='View'}" ><i class="moz-cover-clear"></i>
                        </div>
                        <div class="col-lg-6 col-xs-12 stock-in-marg">
                          <label style="text-align: left; display: block;">Remarks</label>
                           <input type="text" name="remarks" placeholder="Remarks" th:value="${order.remarks}" th:readonly="${param.action[0]=='View'}" >
                        </div>
                     </div>
                     <input type="button" name="cancel" class="previous action-button-previous" value="Cancel" th:attr="onclick=|location.href='@{/order}'|" >
                     <input type='hidden' th:value="${order.id}" id="id" name='id'>
                     <input th:if="'Print' == ${submitValue}" type="button" name="action" class="submit action-button" value="Print" onclick="printData()" >
                     <input th:if="'Edit' == ${submitValue}" type="submit" name="action" class="submit action-button" value="Save">
               </fieldset>
               </form>
			   <div>
					<p name="before-compression"></p>
					<p name="after-compression"></p>
				</div>
				
            </div>
         </div>
      </main>


	<div th:replace="fragments :: html_scripts"></div>
</body>
</html>