<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head" />
<body class="app sidebar-mini rtl">
	<div th:replace="fragments :: app-layout"></div>


	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboardicon2" style="text-align: left;">
					<input type="button" name="nOrder" class="submit action-button" value="Add New Order" th:attr="onclick=|location.href='@{/addOrderPage}'|" >
					<div th:if="${successMessage}" th:text="${successMessage}"
						class="alert alert-success" role="alert"></div>
					<div class="tile">
						<h3 class="tile-title"></h3>
						<form class="dashboardicon" th:action="@{/searchOrder}" method="get">
							<div class="col-lg-12 flexdisplay">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>From Date</label>
									<input type="date" name="fromDate" placeholder="">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>To Date</label>
									<input type="date" name="toDate" placeholder="" style="animation-delay: .2s">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>Search By Keyword</label>
									<input type="text" name="keyword" placeholder="Keyword" style="animation-delay: .2s">
								</div>
							</div>
							<div class="col-lg-12 flexdisplay">
								<input type="submit" class="submit action-button" value="Search">
							</div>
						</form>
						<div class="table-responsive table_size" style="margin-top: 50px;">
							<form th:action="@{/order}" method="get">
								<div class="dashboardicon2" style="text-align: left;" th:if="${orderList.size() > 0}" >
									<input type="submit" th:formaction="@{/viewOrder}" name="action" class="submit action-button" value="View">
									<input type="submit" th:formaction="@{/editOrder}" name="action" class="submit action-button" value="Edit">
									<input type="button" name="action" class="submit action-button" value="Print" onclick="printData()">
									<input type="submit" th:formaction="@{/deleteOrder}" name="action" class="submit action-button2" value="Delete">
								</div>
								<table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
									<thead class="thead-inverse"
										style="background-color: #446c9d; color: #FFF;">
										<tr>
											<th class="table_heading"></th>
											<th class="table_heading">Date</th>
											<th class="table_heading">Mark</th>
											<th class="table_heading">Supplier</th>
											<th class="table_heading">Quantity</th>
											<th class="table_heading">Unit</th>
											<th class="table_heading">Price</th>
											<th class="table_heading">Amount</th>
											<th class="table_heading">Reference By</th>
										</tr>
									</thead>
									<tbody>
										<tr style="background-color: #FFF" th:each="order: ${orderList}">
											<td><input type='radio' th:value="${order.id}" class="radioBtn" name='id'></td>
											<td th:text="${order.date}" />
											<td th:text="${order.mark}" />
											<td th:text="${order.supplier}" />
											<td th:text="${order.quantity}" />
											<td th:text="${order.unit}" />
											<td th:text="${order.price}" />
											<td th:text="${order.amount}" />
											<td th:text="${order.reference}" />
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div th:replace="fragments :: main_scripts"></div>
</body>
</html>