<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head" />
<body class="app sidebar-mini rtl">
	<div th:replace="fragments :: app-layout"></div>


	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboardicon2" style="text-align: left;">
					<input type="button" name="sOut" class="submit action-button" value="Add Stock Out" th:attr="onclick=|location.href='@{/addStockOutPage}'|" >
					
					<div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
					
					<div class="tile">
						<h3 class="tile-title"></h3>
						<form class="dashboardicon" th:action="@{/searchStockOut}" method="get">
							<div class="col-lg-12 flexdisplay">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>From Date</label>
									<input type="date" name="fromDate" placeholder="" >
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>To Date</label>
									<input type="date" name="toDate" placeholder="" style="animation-delay: .2s" >
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<label>Search By Keyword</label>
									<input type="text" name="keyword" placeholder="Keyword" style="animation-delay: .2s">
								</div>
							</div>
							<div class="col-lg-12 flexdisplay">
								<input type="submit" class="submit action-button" value="Search">
							</div>
							<div></div>
						</form>
						<div class="table-responsive table_size" style="margin-top: 50px;">
							<form th:action="@{/openStockOutActionPage}" method="get">
								<div class="dashboardicon2" style="text-align: left;" th:if="${stockOutList.size() > 0}">
									<input type="submit" th:formaction="@{/viewStockOut}" name="action" class="submit action-button" value="View">
									<input type="submit" th:formaction="@{/editStockOut}" name="action" class="submit action-button" value="Edit" 
																										sec:authorize="hasAuthority('ADMIN')" >
									<input type="button" name="action" class="submit action-button" value="Print" onclick="printData()">
									<input type="submit" th:formaction="@{/deleteStockOut}" name="action" class="submit action-button2" value="Delete" 
																										sec:authorize="hasAuthority('ADMIN')" >
								</div>
								<table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable">
									<thead class="thead-inverse"
										style="background-color: #446c9d; color: #FFF;">
										<tr>
											<th class="table_heading noPrint"></th>
											<th class="table_heading">Date</th>
											<th class="table_heading">Code</th>
											<th class="table_heading">Item Name</th>
											<th class="table_heading">Customer</th>
											<th class="table_heading">Unit</th>
											<th class="table_heading">Quantity</th>
											<th class="table_heading">Price</th>
											<th class="table_heading">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr style="background-color: #FFF" th:each="stockOut: ${stockOutList}">
											<td class="noPrint"><input type='radio' th:value="${stockOut.id}" class="radioBtn" name='id'></td>
											<td th:text="${stockOut.date}" />
											<td th:text="${stockOut.scanCode}" />
											<td th:text="${stockOut.item?.name}" />
											<td th:text="${stockOut.customer?.name}" />
											<td th:text="${stockOut.unit}" />
											<td th:text="${stockOut.quantity}" />
											<td th:text="${stockOut.price}" />
											<td th:text="${stockOut.amount}" />
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<div th:replace="fragments :: main_scripts"></div>
</body>
</html>