<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments :: html_head" />
  <body class="app sidebar-mini rtl">
    <div th:replace="fragments :: app-layout"></div>
	
	
    <main class="app-content">   
                   <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Stock</h3>
            <form class="dashboardicon" action="/searchTotalStock" method="get">

            <div class="form-group col-lg-12">
              <div class="col-lg-12">
                <input type="text" name="item" placeholder="Search Product">
              </div>
			  <div class="col-lg-12 flexdisplay">
					<input type="submit" name="search" class="submit action-button" value="Search">
				</div>
            </div>
        </form>
                       <div class="table-responsive table_size" style="margin-top: 50px;">   
<form action="/performTotalStockAction" method="get">					   
  <table class="table table-bordered table-responsive table-hover" style=" width: 100%;">
    <thead class="thead-inverse" style="background-color:#446c9d; color:#FFF;">
      <tr>
        <th class="table_heading" style="width: 25%;">Item</th>
        <th class="table_heading" style="width: 25%;">Quantity</th>       
        <th class="table_heading" style="width: 25%;">Unit</th>       
        <th class="table_heading" style="width: 25%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color:#FFF" th:each="totalStock: ${totalStockList}" >
        <td th:text="${totalStock.item}" />
		<td th:text="${totalStock.quantity}" />
		<td th:text="${totalStock.unit}" />
        <td>
          <div class="dashboardicon2" style="text-align: left;">
            <input type="button" name="records" class="submit action-button" value="Records">
             <input type="button" name="print" class="submit action-button2" value="Print">        
        </div>
      </td>
 </tr>
    </tbody>
  </table>
</form>
 </div>    
          </div>
        </div>
      </div>
    </main>
    
	
	<div th:replace="fragments :: html_scripts"></div>
  </body>
</html>