<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head" />
<body class="app sidebar-mini rtl">
	<div th:replace="fragments :: app-layout"></div>


	<main class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="dashboardicon2" style="text-align: left;">
					<input type="button" name="sIn" class="submit action-button" value="Add Stock In" th:attr="onclick=|location.href='@{/addStockInPage}'|" >
					
					<div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
					
					<div class="tile">
						<h3 class="tile-title"></h3>
						
						<form class="dashboardicon" th:action="@{/stock-in}" method="get">
							<div th:replace="fragments :: search_bar"></div>
						</form>
						
						<div class="table-responsive table_size" style="margin-top: 50px;">
							<form th:action="@{/stock-in}" method="get">
								<div class="dashboardicon2" style="text-align: left;" th:if="${listPage.content.size() > 0}">
									<input type="submit" th:formaction="@{/viewStockIn}" name="action" class="submit action-button" value="View">
									<input type="submit" th:formaction="@{/editStockIn}" name="action" class="submit action-button" value="Edit" 
																										sec:authorize="hasAuthority('ADMIN')" >
									<input type="button" name="action" class="submit action-button" value="Print" onclick="printData()" >
									<input type="submit" th:formaction="@{/deleteStockIn}" name="action" class="submit action-button2" value="Delete" 
																										onClick="return confirmDelete()" sec:authorize="hasAuthority('ADMIN')" >
								</div>
								<table class="table table-bordered table-responsive table-hover" style="width: 100%;" id="printTable" >
									<thead class="thead-inverse" style="background-color: #446c9d; color: #FFF;">
										<tr>
											<th class="table_heading noPrint"></th>
											<th class="table_heading">Date</th>
											<th class="table_heading">Code</th>
											<th class="table_heading">Item Name</th>
											<th class="table_heading">Party</th>
											<th class="table_heading">Unit</th>
											<th class="table_heading">Quantity</th>
											<th class="table_heading">Price</th>
											<th class="table_heading">Amount</th>
										</tr>
									</thead>
									<tbody>
										<tr style="background-color: #FFF" th:each="stockIn: ${listPage.content}">
											<td class="noPrint"><input type='radio' th:value="${stockIn.id}" class="radioBtn" name='id'></td>
											<td th:text="${stockIn.date}" />
											<td th:text="${stockIn.scanCode}" />
											<td th:text="${stockIn.item?.name}" />
											<td th:text="${stockIn.party?.name}" />
											<td th:text="${stockIn.unit}" />
											<td th:text="${stockIn.quantity}" />
											<td th:text="${stockIn.price}" />
											<td th:text="${stockIn.amount}" />
										</tr>
									</tbody>
								</table>
							</form>
							
							<div th:replace="fragments :: pagination"></div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="fragments :: main_scripts"></div>
	<div th:replace="fragments :: table_search_script"></div>
</body>
</html>