<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List Employees</title>
		
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>List Employees</h3>
			
			<hr/>
		
			<table class="table table-bordered table-striped">
			
				<thead>
					<tr>
						<th>sCode</th>
						<th>quantity</th>
						<th>price</th>
						<th>amount</th>
						<th>rBy</th>
						<th>rFrom</th>
						<th>remakrs</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stockIn: ${stockInList}">
						<td th:text="${stockIn.sCode}" />
						<td th:text="${stockIn.quantity}" />
						<td th:text="${stockIn.price}" />
						<td th:text="${stockIn.amount}" />
						<td th:text="${stockIn.rBy}" />
						<td th:text="${stockIn.rFrom}" />
						<td th:text="${stockIn.remakrs}" />
					</tr>
				</tbody>
				
			</table>
		</div>
		
		
	</body>
	
</html>